.eye-outline {
    fill: white;
    stroke: #231f20;
    stroke-width: 5px;
  }

  .pupil {
    fill: #231f20;
    transition: transform 120ms cubic-bezier(.22,.61,.36,1);
}

  .eyes {
    width: 120px;
    height: auto;
    overflow: visible;
  }