.nav {
  position: fixed;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: fit-content;

}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-inner {
  display: flex;
  align-items: center;
  gap: 22px;

  padding: 10px 16px;

  background: rgba(255,255,255,0.45);

  backdrop-filter: blur(12px);

  border-radius: 999px;

  border: 1px solid rgba(255,255,255,0.45);

  box-shadow:
    0 10px 30px rgba(30, 167, 225, 0.08);
}

.nav-inner a {
  color: #0072ff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;

  position: relative;
  transition: 0.3s ease;
}

.nav-inner a:hover {
  opacity: 0.7;
  transform: translateY(-1px);
}

.nav-inner a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;

  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;

  transform: translateX(-50%) scale(0);
  transition: 0.3s ease;
}

.nav-inner a:hover::after {
  transform: translateX(-50%) scale(1);
}

.nav.scrolled .nav-inner {
  backdrop-filter: blur(28px);
  background: rgba(255,255,255,0.1);
}

.resume-btn {
  padding: 8px 18px;

  border-radius: 16px;

  background: #dff57b;

  color: #111;

  border: 1px solid rgba(0,0,0,0.05);

  font-weight: 600;

  box-shadow:
    0 4px 14px rgba(223, 245, 123, 0.35);

  transition: all 0.2s ease;
}
.resume-btn:hover {
  transform: translateY(-2px);

  background: #e7ff8f;

  box-shadow:
    0 8px 24px rgba(223, 245, 123, 0.45);
}