.social-link {
  position: relative;
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);

  overflow: visible;
}

/* icon always centered */
.icon {
  position: relative;
  z-index: 2;
}

/* hidden by default */
.brand-label {
  position: absolute;
  inset: 0;

  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;

  pointer-events: none;
}

/* svg ring */
.brand-label svg {
  position: absolute;
  width: 140px;
  height: 140px;

  top: -48px;
  left: -48px;

  animation: rotate 10s linear infinite;
  animation-play-state: paused;
}

/* hover trigger */
.social-link:hover  {
  opacity: 1;
  transform: scale(1);
  transform: translateY(-3px) scale(1.1);

}
.social-link:hover .brand-label {
  opacity: 1;
  transform: scale(1);
}
.social-link:hover .brand-label svg {
  animation-play-state: running;
}

/* rotation */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.social-link svg {
  color: #aaa;
  fill: currentColor; /* 🔥 THIS is the fix */
  transition: all 0.25s ease;
}
.social-link.linkedin:hover svg {
  color: #0077B5;
  filter: drop-shadow(0 0 6px rgba(0, 119, 181, 0.6));
}

.social-link.github:hover svg {
  color: #333;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
}

.social-link.email:hover svg {
  color: #EA4335;
  filter: drop-shadow(0 0 6px rgba(234, 67, 53, 0.5));
}

